<nav>
    <a class="fruits-index-link" href="/">
        <div class="index-link-text">Landing Page</div>
    </a>
    <a class="fruits-index-link" href="/fruits">
        <div class="index-link-text">Browse Fruits Index</div>
    </a>
    <a class="fruits-index-link" href="/fruits/new">
        <div class="index-link-text">Add New Fruits</div>
    </a>
</nav>